<p-dialog
  #dialog
  [header]="'Editing ' + selectedUser?.name + ' info'"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
  [showHeader]="true"
  [closable]="false"
  [maximizable]="true"
  class="relative"
>
  <div class="flex flex-col gap-0">
    <div class="mb-4">
      <h4 class="m-0 mb-4">Add Workout</h4>
      <p-dropdown
        [options]="availableWorkoutTypes"
        placeholder="Select a workout"
        optionLabel="name"
        optionValue="name"
        styleClass="uppercase w-full"
        [virtualScroll]="true"
        [virtualScrollItemSize]="38"
        (onChange)="handleDropDown($event)"
      ></p-dropdown>
    </div>
    <div class="mb-6">
      <div
        *ngFor="let workout of selectedWorkoutList; let i = index"
        [ngClass]="{ 'bg-blue-300/20': i % 2 === 0 }"
        class="rounded-lg px-2 hover:bg-blue-300/50 border-y border-red-300"
      >
        <div class="flex justify-between items-center">
          <p class="font-semibold">{{ workout.name.toUpperCase() }}</p>

          <div class="flex items-center gap-4">
            <input
              pInputText
              pKeyFilter="int"
              class="w-10 px-2 py-2 text-center"
              [defaultValue]="workout.duration"
              (input)="valueChanged($event, i)"
            />
            <p-button
              icon="pi pi-trash"
              styleClass="px-0 py-2 text-center"
              (onClick)="handleRemoveWorkout(workout.name)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-2">
      <p-button label="Close" severity="secondary" (onClick)="closeDialog()" />
      <p-button label="Save" (onClick)="handleSubmit()" />
    </div>
  </div>
</p-dialog>
