<div class="max-w-full container mx-auto px-6">
  <div class="flex flex-col lg:flex-row items-center px-6">
    <div class="flex flex-col flex-grow w-full">
      <h4 class="text-xl font-semibold">Add new user</h4>
      <app-add-user-form></app-add-user-form>
    </div>
    <div class="flex flex-col flex-grow w-full">
      <h4 class="text-xl font-semibold">Add new workout</h4>
      <app-add-workout-form></app-add-workout-form>
    </div>
  </div>
  <div class="mt-10 w-full">
    <h4 class="text-xl pl-6 m-0 p-0 mb-6 font-semibold">Users Data Table</h4>
    <app-user-table></app-user-table>
  </div>
</div>
